<div class="container pt-5">
  <div class="row justify-content-sm-center pt-2">
    <div class="col-sm-6 col-md-5">
      <div class="card">
        <div class="card-header">
          <h4>Sign in to continue</h4>
        </div>
        <div class="card-body">
         
          <form class="form-signin">
            <input type="text" class="form-control form-control-lg mb-3" placeholder="Email" required autofocus>
            <input type="password" class="form-control form-control-lg mb-3" placeholder="Password" required>
            <input type="text" class="form-control form-control-lg mb-3" placeholder="User name">
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>

            <button class="btn btn-link btn-lg float-left mt-3">Return</button>
            <button class="btn btn-link btn-lg float-right mt-3">Need help?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>