<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary  sticky-top">
  <div class="container">
    <a class="navbar-brand text-white">Sistema Gestion ventas</a>
    <form class="form-inline">
      <app-create-account class="mr-sm-2"></app-create-account>
      <a class="btn btn-success btn-lg my-2 my-sm-0" routerLink="/login">Login</a>
    </form>
  </div>
</nav>

<div class="container-fluid mt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Que es un ERP?</h1>
        <p class="lead">
          ERP <span class="font-weight-bol">(Enterprise Resource Planning – Planificación de Recursos
            Empresariales)</span> es un conjunto de sistemas de información que permite la integración de ciertas
          operaciones de una empresa, especialmente las que tienen que ver con la producción, la logística, el
          inventario, los envíos y la contabilidad
        </p>
        <hr class="my-4">

      </div>
    </div>

    <div class="row mt-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">CREATE FREE ACCOUNT</a>
      <a class="btn btn-success btn-lg ml-2" href="#" role="button">Login</a>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Que es un ERP?</h1>
        <p class="lead">
          ERP <span class="font-weight-bol">(Enterprise Resource Planning – Planificación de Recursos
            Empresariales)</span> es un conjunto de sistemas de información que permite la integración de ciertas
          operaciones de una empresa, especialmente las que tienen que ver con la producción, la logística, el
          inventario, los envíos y la contabilidad
        </p>
        <hr class="my-4">

      </div>
    </div>

    <div class="row mt-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">CREATE FREE ACCOUNT</a>
      <a class="btn btn-success btn-lg ml-2" href="#" role="button">Login</a>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Que es un ERP?</h1>
        <p class="lead">
          ERP <span class="font-weight-bol">(Enterprise Resource Planning – Planificación de Recursos
            Empresariales)</span> es un conjunto de sistemas de información que permite la integración de ciertas
          operaciones de una empresa, especialmente las que tienen que ver con la producción, la logística, el
          inventario, los envíos y la contabilidad
        </p>
        <hr class="my-4">

      </div>
    </div>

    <div class="row mt-4">
      <a class="btn btn-primary btn-lg" href="#" role="button">CREATE FREE ACCOUNT</a>
      <a class="btn btn-success btn-lg ml-2" href="#" role="button">Login</a>
    </div>
  </div>
</div>